body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  line-height: 1.6;
}

main {
    text-align: center;
}

header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #58edb6;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #777;
  text-align: center;
}

h1 {
    font-family: 'Georgia', serif;
    text-align: center;
}